@use "../utilities" as *;

/**----------------------------------------
    START: Award CSS
----------------------------------------*/

.award-item{
    background-color: var(--rr-color-bg-1);
    padding: 50px 40px;
    span{
        background: radial-gradient(50% 5688.89% at 50% 50%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%);
        border: 1px solid #3E3E3E;
        width: 110px;
        height: 110px;
        @include flex-center;
        border-radius: 50%;
        font-size: 40px;
        font-weight: 800;
        color: var(--rr-color-common-white);
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--rr-color-common-white);
    }
    .title{
        margin: 35px 0 25px 0;
    }
    p{
        margin-bottom: 0;
    }
}

/* !END: Award CSS */
